@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* =================================================================
                            Variables 
================================================================= */
.body-light {
    --bg: #f5f6f7;
    --bg-alt: #fff;
    --fg: #444;
    --fg-alt: #222;
    --primary: #306cc4;
    --primary-alt: #185dc7;
    --primary-light: rgba(44, 93, 206, 0.1);
    --container-shadow: 0 2px 4px rgb(0 0 0/10%)
}

.body-dark {
    --bg: #030217;
    --bg-alt: rgb(22 28 41/33%);
    --fg: #bdbddd;
    --fg-alt: #cdcdff;
    --primary: #807ae8;
    --primary-alt: #706aec;
    --primary-light: rgb(18 17 49/44%);
    --container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
    box-sizing: border-box;
}

::-moz-selection {
    background: var(--primary);
    color: var(--bg)
}

::-webkit-selection,
::selection {
    background: var(--primary);
    color: var(--bg)
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-track {
    background-color: var(--bg-alt)
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border: 4px solid var(--bg);
    border-radius: .5em
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-alt)
}


/* =================================================================
                        Estilos Globales 
================================================================= */
html {
    scroll-behavior: smooth
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1100px;
    /* transition: background-color .5s linear; */
    width: 90%;
}

header {
    height: 8em;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

main {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

footer {
    padding: 2em 0;
    margin-top: auto;
    text-align: center;
}

h1,h2,h3,h4 {
    line-height: 1.2;
    color: var(--fg-alt);
}

h1 { font-size: 4rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.3rem; }

ul { list-style-type: none; }

a { text-decoration: none; }

button { cursor: pointer; }


#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Establece una altura mínima del 100% del viewport */
}


/* =================================================================
                    Estilos de Diseño y Componentes
================================================================= */
.hero {
    flex-direction: column;
    margin-top: 3em;
}

.center {
    display: flex;
    align-items: center;
}

.link {
    color: var(--primary);
    padding: 0 0 0.3em 0;
    position: relative;
}

.btn {
    display: block;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: lowercase;
    transition: transform 0.2s ease-in-out;
}

.btn-icon {
    padding: 0;
    font-size: 1.2rem;
}

.btn--outline {
    color: var(--primary);
    border: 2px solid var(--primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.menu-list {
    margin-right: 1.5em;
    display: flex;
}

.menu-item {
    margin-left: 1.5em;
}

.hamburger {
    display: none;
    width: 1em;
}

.hero-name {
    color: var(--primary);
}

.hero-role {
    margin-top: 1.2em;
}

.hero-about {
    font-size: 1rem;
    max-width: 600px;
}

.hero-about,
.hero-contact {
    margin-top: 2.4em;
}

.hero .link-custom {
    margin-right: 0.8em;
}

.hero .btn--outline {
    margin-right: 1em;
}

.link-custom-nav {
    color: var(--fg);
    text-transform: lowercase;
    font-weight: 500;
}

.link-custom {
    color: var(--fg);
    font-size: 1.2rem;
}

.footer__link {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--fg);
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2em;
    background-color: transparent;
    font-size: 1.8rem;
    transition: transform 0.2s ease-in-out;
}

.legal {
    float: right;
}


.link:hover {
    color: var(--primary);
}

.link::before {
    content: "";
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--primary);
    transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
    width: 100%;
}

.btn-icon:hover,
.btn-icon:focus {
    color: var(--primary);
}

.btn-icon:active {
    transform: translateY(-5px);
}

.btn--outline:focus,
.btn--outline:hover {
    color: var(--bg);
}

.btn--outline:before {
    content: "";
    position: absolute;
    background-color: var(--primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
    right: 0;
}

/* =================================================================
                        Media Queries
================================================================= */
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 580px) {
    h2 {
        font-size: 1.5rem
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 3rem
    }
}

@media screen and (max-width: 580px) {
    header {
        height: 6em;
    }

    .menu-list {
        flex-direction: column;
        padding: 4em 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 5em;
        background-color: var(--bg);
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
    }

    .display-menu-list {
        width: 100%;
    }

    .menu-item {
        margin: 0.5em 0;
    }

    .hamburger {
        display: flex;
        margin-left: 0.8em;
    }

    .hero {
        align-items: flex-start;
        margin-top: 2em;
    }

    footer {
        width: 100%;
        padding: 2em;
        margin-top: auto;
    }

    .legal {
        float: none !important;
        margin-top: 1em;
    }

    /* .scroll-container {
        display: none;
    } */

}

@media (max-width: 1000px) {
    /* .scroll-container {
        display: none
    } */
}

@media (max-width: 580px) {
    .fa-bars {
        display: flex
    }
}